body {
    background-color: rgb(0, 0, 0);

}

.contador {
    text-align: center;
    padding: 50px;
    margin: 100px;
    border-radius: 500px;
    font-family: Arial, sans-serif;
    color: aliceblue;
    box-shadow: 0px 0px 1000px orangered;
}

.display {
    font-size: 48px;
    margin: 20px;
    padding: 50px;
    border: 15px solid #ffffff;
    border-radius: 100px;
    display: inline-block;
    min-width: 100px;
    box-shadow: 0px 0px 100px 0px white;
}

.positivo { color: greenyellow; }
.negativo { color: red; }
.cero {color: white }
button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.incrementar { background-color: #4CAF50; color: white; }
.decrementar { background-color: #f44336; color: white; }
.reset { background-color: #008CBA; color: white; }